#home-carousel {
  width: 100%;
  display: block;
  overflow: hidden;
}

.home-slider {
  width: 100%;
}

.home-carousel-figure {
  width: 100%;
  border: none;
  outline: none;
}

.home-carousel-figure > img {
  width: 100%;
}
