#HomeAds {
  margin-top: 60px;
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HomeAds-container {
  margin-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 6%;
}

.HomeAds-card {
  cursor: pointer;
  position: relative;
  width: 30%;
  /* height: 580px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
  font-size: 34px;
  line-height: 145%;

  color: #41416e;
}

.HomeAds-discaunt {
  z-index: 99;
  position: absolute;
  top: 2%;
  right: 3%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: #f44336;

  font-weight: 700;
  font-size: 20px;
  line-height: 120%;

  color: #ffffff;
}

.HomeAds-figure {
  overflow: hidden;
  width: 100%;
}

.HomeAds-figure > img {
  width: 100%;

  transition: all 0.3s ease-in-out;
}

.HomeAds-figure > img:hover {
  transform: scale(1.03);
}

.HomeAds-card-last {
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: #41416e;
}

@media (max-width: 1250px) {
  .HomeAds-discaunt {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 950px) {
  #HomeAds {
    margin-top: 50px;
  }

  .HomeAds-container {
    margin-top: 60px;
    gap: 20px;
  }

  .HomeAds-card {
    margin-bottom: 30px;
    width: 48%;
    height: auto;
    font-size: 30px;
  }

  .HomeAds-card-last {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  #HomeAds {
    margin-top: 40px;
  }

  .HomeAds-container {
    margin-top: 40px;
    gap: 15px;
  }

  .HomeAds-card {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .HomeAds-discaunt {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }

  .HomeAds-card-last {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  #HomeAds {
    margin-top: 30px;
  }

  .HomeAds-container {
    margin-top: 20px;
    gap: 10px;
  }

  .HomeAds-card {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .HomeAds-discaunt {
    width: 25px;
    height: 25px;
    font-size: 8px;
  }

  .HomeAds-card-last {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  #HomeAds {
    margin-top: 30px;
  }

  .HomeAds-container {
    margin-top: 20px;
    gap: 5px;
  }

  .HomeAds-card {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .HomeAds-discaunt {
    width: 20px;
    height: 20px;
    font-size: 6px;
  }

  .HomeAds-card-last {
    font-size: 10px;
  }
}
