#ProductViewInfo {
  padding: 0 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ProductViewInfo-images {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.ProductViewInfo-figure {
  width: 100%;
}

.ProductViewInfo-figure > img {
  width: 100%;
}

.ProductViewInfo-select-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ProductViewInfo-sel-img-figure {
  position: relative;
  width: 23%;
}

.ProductViewInfo-sel-img-figure > span {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0202026d;
}

.ProductViewInfo-sel-img-figure > img {
  width: 100%;
}

.ProductViewInfo-about {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.ProductViewInfo-about-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-weight: 500;
  font-size: var(--fs32);
  line-height: 130%;
}

.ProductViewInfo-about-info > p {
  color: #41416eb2;
}

.ProductViewInfo-about-info :first-child {
  color: #41416e;
}

.ProductViewInfo-sizes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  font-weight: 500;
  font-size: var(--fs32);
  line-height: 130%;
  color: #41416eb2;
}

.ProductViewInfo-sizes > button {
  padding: 5px 10px;
  border: none;
  background: #41416e1a;
  border-radius: 5px;

  font-weight: 500;
  font-size: var(--fs14);
  line-height: 110%;
  color: #41416e;
}

.ProductViewInfo-sizes > button:hover {
  background: #41416e;
  color: #fff;
}

.ProductViewInfo-sizes :last-child {
  font-weight: 500;
  font-size: var(--fs24);
}

.ProductViewInfo-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
}

.ProductViewInfo-about-addToCart {
  width: 45%;
  height: 55px;
  outline: none;
  border: none;
  background: #2fe51f;
  border-radius: 10px;
  transition: all 0.1s;

  font-weight: 500;
  font-size: var(--fs24);
  line-height: 130%;
  color: #ffffff;
}

.ProductViewInfo-about-addToCart:hover {
  border: 1px solid #2fe51f;
  background: none;
  color: #2fe51f;
}

.ProductViewInfo-count {
  width: 200px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
  border-radius: 10px;
  overflow: hidden;
}

.ProductViewInfo-count > p {
  width: 39%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: var(--fs24);
  line-height: 120%;

  color: #ffffff;

  background: #41416e;
}

.ProductViewInfo-count > button {
  width: 30%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: #41416e;

  font-weight: 500;
  font-size: var(--fs32);
  line-height: 120%;

  color: #ffffff;
}

@media (max-width: 1100px) {
  .ProductViewInfo-images {
    width: 40%;
    gap: 10px;
  }

  .ProductViewInfo-about {
    width: 55%;
    gap: 15px;
  }

  .ProductViewInfo-about-info {
    gap: 15px;
  }

  .ProductViewInfo-sizes {
    gap: 10px;
  }

  .ProductViewInfo-sizes > button {
    padding: 5px 10px;
  }

  .ProductViewInfo-actions {
    width: 100%;
    gap: 2%;
  }

  .ProductViewInfo-about-addToCart {
    height: 45px;
  }

  .ProductViewInfo-count {
    width: 160px;
    height: 45px;
  }
}

@media (max-width: 850px) {
  .ProductViewInfo-images {
    width: 35%;
    gap: 2px;
  }

  .ProductViewInfo-about {
    width: 60%;
    gap: 7px;
  }

  .ProductViewInfo-about-info {
    gap: 7px;
  }

  .ProductViewInfo-sizes {
    gap: 7px;
  }

  .ProductViewInfo-sizes > button {
    padding: 2px 8px;
  }

  .ProductViewInfo-about-addToCart {
    height: 38px;
  }

  .ProductViewInfo-count {
    width: 140px;
    height: 38px;
  }
}

@media (max-width: 650px) {
  #ProductViewInfo {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .ProductViewInfo-images {
    width: 60%;
    gap: 2px;
  }

  .ProductViewInfo-about {
    width: 90%;
    gap: 10px;
  }

  .ProductViewInfo-about-info {
    gap: 10px;
  }

  .ProductViewInfo-sizes {
    gap: 10px;
  }

  .ProductViewInfo-sizes > button {
    padding: 2px 8px;
  }

  .ProductViewInfo-about-addToCart {
    width: 45%;
    height: 40px;
  }

  .ProductViewInfo-count {
    width: 160px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  #ProductViewInfo {
    gap: 15px;
  }

  .ProductViewInfo-images {
    width: 70%;
    gap: 2px;
  }

  .ProductViewInfo-about {
    width: 90%;
    gap: 5px;
  }

  .ProductViewInfo-about-info {
    gap: 5px;
  }

  .ProductViewInfo-sizes {
    gap: 8px;
  }

  .ProductViewInfo-sizes > button {
    padding: 2px 6px;
  }

  .ProductViewInfo-about-addToCart {
    height: 30px;
  }

  .ProductViewInfo-count {
    width: 100px;
    height: 30px;
  }
}
