:root {
  --fs32: 32px;
  --fs24: 24px;
  --fs14: 14px;
}

@font-face {
  font-family: Inter;
  src: url(../Fonts/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.11rem;
  font-family: Inter;
  /* user-select: none; */
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

#router {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.router-nav {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 500s ease-in-out 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

@media (max-width: 1100px) {
  :root {
    --fs32: 28px;
    --fs24: 20px;
    --fs14: 14px;
  }
}

@media (max-width: 850px) {
  :root {
    --fs32: 24px;
    --fs24: 16px;
    --fs14: 10px;
  }
}

@media (max-width: 850px) {
  :root {
    --fs32: 22px;
    --fs24: 14px;
    --fs14: 10px;
  }
}

@media (max-width: 400px) {
  :root {
    --fs32: 18px;
    --fs24: 10px;
    --fs14: 8px;
  }
}
