#header-box {
  width: 100%;

  height: 70px;
  background-color: #202529;
  display: flex;
  justify-content: center;
}

#header {
  max-width: 1920px;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;

  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  color: #ffffff;
}

#header > a {
  cursor: pointer;
  color: #fff;
}

.header-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header-nav > a {
  color: #fff;
}

.header-icon {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header-nav > a.active {
  color: #fff500;
}

.header-figure {
  cursor: pointer;
}

.header-figure > svg {
  width: 40px;
  height: 40px;
}

.login-register-show {
  position: absolute;
  z-index: 9999;
  top: 70px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
}

.login-register-show > button {
  padding: 7px 10px;
  border: none;
  outline: none;
  background: none;

  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #41416e;
}

.login-register-show > button:hover {
  font-weight: 800;
}

.login-register-show-invisible {
  display: none;
}

@media (max-width: 1200px) {
  #header-box {
    height: 55px;
    font-size: 26px;
  }

  #header {
    font-size: 26px;
  }

  .header-nav {
    gap: 20px;
  }

  .header-icon {
    gap: 20px;
  }

  .login-register-show {
    top: 55px;
  }
}

@media (max-width: 800px) {
  #header-box {
    height: 45px;
    font-size: 22px;
  }

  #header {
    font-size: 22px;
  }

  .header-nav {
    gap: 10px;
  }

  .header-icon {
    gap: 10px;
  }

  .header-figure > svg {
    width: 30px;
    height: 30px;
  }

  .login-register-show {
    top: 45px;
  }

  .login-register-show > button {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  #header-box {
    height: 45px;
    font-size: 20px;
  }

  #header {
    font-size: 20px;
  }

  .header-icon {
    display: none;
  }

  .login-register-show {
    top: 60px;
    padding: 10px;
  }

  .login-register-show > button {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  #header-box {
    height: 40px;
    font-size: 16px;
  }

  #header {
    font-size: 16px;
  }

  .login-register-show {
    top: 50px;
    padding: 10px;
  }

  .login-register-show > button {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  #header-box {
    height: 35px;
    font-size: 14px;
  }

  #header {
    font-size: 14px;
  }

  .login-register-show {
    top: 40px;
    padding: 5px;
  }

  .login-register-show > button {
    font-size: 14px;
  }
}
