#navbar-box {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 74px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}

.navbar-selections {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.navbar-selections > a.active {
  color: #ff0000;
}

.navbar-selections,
.drop-down-card,
.sub-menu > a {
  color: #41416e;

  font-weight: 500;
  font-size: 20px;
  line-height: 124%;
}

.nav-select {
  width: 120px;
  height: 50%;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#navbar-icons {
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.navbar-figure {
  cursor: pointer;
}

.navbar-figure > svg {
  width: 40px;
  height: 40px;
  color: #1976d2;
}

.drop-down-card > .sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 54px;
  opacity: 0;
  gap: 10px;
  box-shadow: #0000003d 0px 3px 8px;
  background: #fff;
  border-radius: 6px;
  transition: all 0.1s ease;
  visibility: hidden;
  z-index: 15;
  padding: 15px 0;
  overflow: hidden;
}

.drop-down-card,
.sub-menu > a {
  padding: 5px 15px;

  transition: all 0.3s ease-in-out;
}

.drop-down-card > .sub-menu > a:hover {
  transform: scale(1.05);
  background: #f5f5f5ff;
  color: #4c4cbfff;
}

.drop-down-card:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

@media (max-width: 750px) {
  #navbar-box {
    height: 60px;
  }

  .navbar-selections .drop-down-card,
  .sub-menu > a {
    font-size: 20px;
  }

  .nav-select {
    width: 90px;
  }
}

@media (max-width: 650px) {
  #navbar-box {
    height: 60px;
  }

  .navbar-selections {
    display: none;
  }

  #navbar-icons {
    display: flex;
    gap: 10px;
  }

  .navbar-figure > svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 550px) {
  #navbar-box {
    height: 50px;
  }

  #navbar-icons {
    gap: 5px;
  }

  .navbar-figure > svg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 450px) {
  #navbar-box {
    height: 40px;
  }

  .navbar-figure > svg {
    width: 20px;
    height: 20px;
  }
}
