#navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 74px;
  background: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

#navbar > a,
select {
  color: #41416e;

  font-weight: 500;
  font-size: 20px;
  line-height: 124%;
}

.nav-select {
  width: 120px;
  height: 50%;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
