#feedback-box {
  margin-top: 100px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001e3c;
  padding: 50px 0;
}

#feedback {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#feedback > p {
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;

  color: #ffffff;
}

.feedback-form {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.feedback-form > textarea,
input {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;

  color: #000000;
  border: none;
  outline: none;

  border: 1px solid rgba(65, 65, 110, 0.7);
}

.feedback-form > textarea {
  width: 50%;
  height: 100%;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}

.feedback-form-inputs {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.feedback-form-inputs > input,
button {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.feedback-form-inputs > :first-child {
  border-radius: 0px 10px 0px 0px;
}

.feedback-form-inputs > button {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #ffffff;
  background: #2fe51f;

  border: none;
  outline: none;
}

@media (max-width: 1150px) {
  #feedback-box {
    height: 400px;
    padding: 40px 0;
  }

  #feedback > p {
    font-size: 30px;
  }

  .feedback-form {
    width: 90%;
    height: 70%;
    gap: 10px;
  }

  .feedback-form > textarea,
  input {
    font-size: 14px;
  }

  .feedback-form > textarea {
    width: 50%;
    padding: 10px;
  }

  .feedback-form-inputs {
    width: 50%;
    gap: 10px;
  }

  .feedback-form-inputs > input,
  button {
    padding: 10px;
  }

  .feedback-form-inputs > button {
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  #feedback-box {
    height: auto;
    padding: 40px 0;
  }

  #feedback > p {
    font-size: 30px;
  }

  .feedback-form {
    margin-top: 30px;
    width: 90%;
    height: 400px;
    flex-direction: column;
    gap: 10px;
  }

  .feedback-form > textarea,
  input {
    font-size: 14px;
  }

  .feedback-form > textarea {
    width: 100%;
    height: 80%;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
  }

  .feedback-form-inputs {
    width: 100%;
    gap: 10px;
  }

  .feedback-form-inputs > input,
  button {
    padding: 10px;
  }

  .feedback-form-inputs > :first-child {
    border-radius: 0px 0px 0px 0px;
  }

  .feedback-form-inputs > button {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  #feedback-box {
    padding: 20px 0;
  }

  #feedback > p {
    font-size: 22px;
  }

  .feedback-form {
    margin-top: 20px;
    height: 250px;
    gap: 5px;
  }

  .feedback-form > textarea,
  input {
    font-size: 10px;
  }

  .feedback-form > textarea {
    padding: 5px;
  }

  .feedback-form-inputs {
    gap: 5px;
  }

  .feedback-form-inputs > input,
  button {
    padding: 5px;
  }

  .feedback-form-inputs > button {
    font-size: 12px;
  }
}
