#ProductsFilter {
  margin-top: 50px;
  width: 30%;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ProductsFilter-filter {
  width: 55px;
  height: 100%;
  background: none;
  outline: none;
  border: 1px solid #41416e80;
  border-radius: 10px;
}

.ProductsFilter-filter > svg {
  width: 100%;
  height: 100%;
  color: #41416ed8;
}

.ProductsFilter-form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ProductsFilter-form > input {
  height: 100%;

  background: #d9d9d933;
  border: 1px solid #41416e80;
}

.ProductsFilter-form > input {
  padding: 0 2%;
  border-radius: 10px 0 0 10px;
  width: 85%;

  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #41416e80;
}

.ProductsFilter-form > button {
  border-radius: 0 10px 10px 0;
  width: 15%;
  height: 100%;
}

.ProductsFilter-form > button > svg {
  height: 100%;
  width: 100%;
  color: #41416ed8;
}

@media (max-width: 1300px) {
  #ProductsFilter {
    margin-top: 40px;

    width: 40%;
    height: 45px;
  }

  .ProductsFilter-filter {
    width: 45px;
  }

  .ProductsFilter-form {
    width: 80%;
  }

  .ProductsFilter-form > input {
    font-size: 14px;
  }
}

@media (max-width: 950px) {
  #ProductsFilter {
    margin-top: 30px;

    width: 60%;
    height: 50px;
  }

  .ProductsFilter-filter {
    width: 50px;
  }

  .ProductsFilter-form {
    width: 85%;
  }

  .ProductsFilter-form > input {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  #ProductsFilter {
    margin-top: 20px;
    width: 60%;
    height: 45px;
  }

  .ProductsFilter-filter {
    width: 45px;
  }

  .ProductsFilter-form {
    width: 85%;
  }

  .ProductsFilter-form > input {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  #ProductsFilter {
    margin-top: 10px;
    width: 70%;
    height: 35px;
  }

  .ProductsFilter-filter {
    padding: 2%;
    width: 12%;
  }

  .ProductsFilter-form {
    width: 85%;
  }

  .ProductsFilter-form > input {
    font-size: 10px;
  }

  .ProductsFilter-form > button {
    padding: 2%;
    width: 15%;
  }
}

@media (max-width: 400px) {
  #ProductsFilter {
    width: 90%;
    height: 30px;
  }

  .ProductsFilter-form > input {
    font-size: 10px;
  }
}
