#footer-box {
  margin-top: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001e3c;
  color: #fff;
}

#footer {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 5%;
  gap: 10px;
}

.footer-privacy {
  width: 30%;

  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 30%;
}

.footer-logo > img {
  width: 100%;
}

.footer-texts-1 {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.footer-texts-1 > :first-child {
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
}

.footer-texts-1 > :nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}

.footer-texts-1 > :nth-child(3) {
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
}

.footer-texts-1 > :nth-child(4) {
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
}

.footer-texts-2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-texts-2 > p {
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
}

.footer-texts-2 > :first-child {
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
}

.axsi {
  display: flex;
  align-items: center;
  gap: 5px;
}

.axsi > span {
  color: #f44336;
}
