#footer-box {
  margin-top: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001e3c;
  color: #fff;
}

#footer {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 5%;
  gap: 20px;
}

.footer-privacy {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 30%;
}

.footer-logo > img {
  width: 100%;
}

.footer-texts-1 {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.footer-texts-1 > :first-child {
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
}

.footer-texts-1 > :nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}

.footer-texts-1 > :nth-child(3) {
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
}

.footer-texts-1 > :nth-child(4) {
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
}

.footer-texts-2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-texts-2 > p {
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
}

.footer-texts-2 > :first-child {
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
}

.axsi {
  display: flex;
  align-items: center;
  gap: 5px;
}

.axsi > span {
  color: #f44336;
}

@media (max-width: 950px) {
  #footer-box {
    margin-top: 100px;
  }

  #footer {
    padding: 30px 5%;
    gap: 20px;
    flex-direction: column;
    text-align: center;
  }

  .footer-privacy {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer-logo {
    width: 20%;
  }

  .footer-texts-1 {
    width: 100%;
    gap: 5%;
  }

  .footer-texts-2 {
    gap: 5px;
    align-items: center;
  }

  .axsi {
    gap: 5px;
  }
}

@media (max-width: 650px) {
  #footer-box {
    margin-top: 100px;
  }

  #footer {
    padding: 30px 5%;
    gap: 20px;
  }

  .footer-logo {
    width: 40%;
  }

  .footer-privacy {
    gap: 30px;
  }

  .footer-texts-2 {
    gap: 5px;
  }

  .footer-texts-1 > :first-child {
    font-size: 26px;
  }

  .footer-texts-1 > :nth-child(2) {
    font-size: 16px;
  }

  .footer-texts-1 > :nth-child(3) {
    font-size: 11px;
  }

  .footer-texts-1 > :nth-child(4) {
    font-size: 11px;
  }

  .footer-texts-2 {
    gap: 5px;
  }

  .footer-texts-2 > p {
    font-size: 11px;
  }

  .footer-texts-2 > :first-child {
    font-size: 26px;
  }

  .axsi {
    gap: 5px;
  }
}
