#myOrders {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 10px;
}

.myOrders-card {
  position: relative;
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  gap: 20px;

  background: #2025290d;
  border-radius: 10px;
}

.myOrders-figure {
  width: 8%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.myOrders-figure > img {
  width: 100%;
  height: 100%;
}

.myOrders-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #41416eb3;
}

.myOrders-info p :nth-child(1) {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #000;
}

.myOrders-info p :nth-child(2) {
  color: #ff0000;
}

.myOrders-status {
  padding: 10px 0;
  height: 100%;

  font-weight: 500;
  font-size: 20px;
  line-height: 120%;

  color: rgba(65, 65, 110, 0.7);
}

.myOrders-status > p > span {
  color: #41416e;
}

.myOrders-delete {
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  right: 2%;
}

.myOrders-delete > svg {
  width: 40px;
  height: 40px;
}
