#myOrders {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  gap: 10px;
}

.myOrders-card {
  position: relative;
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  gap: 20px;

  background: #2025290d;
  border-radius: 10px;
}

.myOrders-figure {
  width: 100px;
  height: 100%;
}

.myOrders-figure > img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.myOrders-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #41416eb3;
}

.myOrders-info p :nth-child(1) {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #000;
}

.myOrders-info p :nth-child(2) {
  color: #ff0000;
}

.myOrders-status {
  padding: 10px 0;
  height: 100%;

  font-weight: 500;
  font-size: 20px;
  line-height: 120%;

  color: rgba(65, 65, 110, 0.7);
}

.myOrders-status > p > span {
  color: #41416e;
}

.myOrders-delete {
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  right: 2%;
}

.myOrders-delete > svg {
  width: 40px;
  height: 40px;
}

.myOrders-status-media {
  display: none;
}

@media (max-width: 1400px) {
  #myOrders {
    height: 70vh;
    gap: 10px;
  }

  .myOrders-card {
    height: 120px;
    gap: 20px;
  }

  .myOrders-figure {
    width: 100px;
  }

  .myOrders-info {
    gap: 5px;
    padding: 10px 0;
    font-size: 18px;
  }

  .myOrders-info p :nth-child(1) {
    font-size: 18px;
  }

  .myOrders-status {
    padding: 10px 0;
    font-size: 18px;
  }

  .myOrders-delete > svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 750px) {
  #myOrders {
    height: 50vh;
    gap: 10px;
  }

  .myOrders-card {
    height: 100px;
    gap: 10px;
  }

  .myOrders-figure {
    width: 80px;
  }

  .myOrders-info {
    gap: 5px;
    padding: 5px 0;
    font-size: 14px;
  }

  .myOrders-info p :nth-child(1) {
    font-size: 14px;
  }

  .myOrders-status {
    padding: 10px 0;
    font-size: 14px;
  }

  .myOrders-delete > svg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 600px) {
  #myOrders {
    height: 50vh;
    gap: 10px;
  }

  .myOrders-card {
    height: 150px;
    gap: 10px;
  }

  .myOrders-figure {
    width: 90px;
  }

  .myOrders-info {
    gap: 5px;
    padding: 5px 0;
    font-size: 12px;
  }

  .myOrders-info p :nth-child(1) {
    font-size: 12px;
  }

  .myOrders-status {
    display: none;
  }

  .myOrders-status-media {
    display: flex;
    font-size: 12px;
  }

  .myOrders-delete > svg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 450px) {
  #myOrders {
    height: 50vh;
    gap: 10px;
  }

  .myOrders-card {
    width: 80%;
    height: auto;
    flex-direction: column;
  }

  .myOrders-figure {
    border-radius: 0;
    width: 100%;
  }

  .myOrders-info {
    width: 100%;
    padding: 10px;

    font-size: 14px;
  }

  .myOrders-info p :nth-child(1) {
    font-size: 14px;
  }

  .myOrders-status-media {
    display: flex;
    font-size: 14px;
  }

  .myOrders-delete {
    bottom: 1%;
  }

  .myOrders-delete > svg {
    width: 25px;
    height: 25px;
  }
}
